.entity-calendar {
	background-color: #fff;
	margin: 20px 13px;
	border:1px solid #e2e7ec;
	border-radius: 3px;
	padding: 11px;
	.calendar-info {
		span {
			display: inline-block;
			padding-left: 9px;
			padding-right: 30px;
			&:before {
				display: inline-block;
				content:' ';
				height: 20px;
				width: 20px;
				border-radius: 20px;
				background-color: #fff;
				border:1px solid #e3e8ec;
				margin-right: 10px;
				top: 4px;
				position: relative;
			}
			&.select {
				&:before {
					background-color:#f8fafb ;
				}
			}
			&.free {
				&:before {
					background-color:#fff ;
				}
			}
			&.booked {
				&:before {
					background-color: #64d887;
				}
			}
		}
	}
	table {
		table-layout:fixed;
	}
	.table-bordered > thead > tr > th,
	.table-bordered > thead > tr > td {
		border-bottom-width: 1px;
	}
	th {
		background-color: #ecf0f3;
		text-align: center;
		font-size: 12px;
		font-weight: normal;
	}
	.table > tbody > tr > td {
		position: relative;
		text-align: right;
		padding: 0;
		.box {
			height: 58px;
			padding: 8px;
		}
	}
	.row-tbl {
		margin-left: -12px;
		margin-right: -12px;
	}
	.btn-default {
		padding: 6px 10px;
		margin-bottom: 10px;
		.glyphicon {
			margin-right: 0;
			color:#8991a2;
		}
	}
	.btn-link {
		padding-left: 7px;
		padding-right: 7px;
		margin-top: -6px;
	}
	.month {
		font-weight: bold;
		font-size: 14px;
		color:#8e9aa9;
		opacity:.8;
		position: absolute;
		left: 12px;
		top: 7px;
	}
	.price {
		width: 100%;
		display: block;
		font-size: 13px;
		font-weight: normal;
		color:#c3cbd6;
		text-align: left;
		padding-top: 5px;
	}
	.date {
		display: inline-block;
		font-weight: bold;
		color:#061527;
	}
	.selected {
		.box {
			background-color: #f8fafb;
			.date {
				color:#8e9aa9;
			}
		}
	}
	.selected-half-end {
		.box {
			-webkit-background: repeating-linear-gradient(-55deg,#fff 0%,#fff 50%,#f8fafb 51%,#f8fafb);
			-moz-background: repeating-linear-gradient(-55deg,#fff 0%,#fff 50%,#f8fafb 51%,#f8fafb);
			-o-background: repeating-linear-gradient(-55deg,#fff 0%,#fff 50%,#f8fafb 51%,#f8fafb);
			background: repeating-linear-gradient(-55deg,#fff 0%,#fff 50%,#f8fafb 51%,#f8fafb);
		}
	}
	.selected-half-start {
		.box {
			-webkit-background: repeating-linear-gradient(-55deg,#f8fafb 0%,#f8fafb 50%,#fff 51%,#fff);
			-moz-background: repeating-linear-gradient(-55deg,#f8fafb 0%,#f8fafb 50%,#fff 51%,#fff);
			-o-background: repeating-linear-gradient(-55deg,#f8fafb 0%,#f8fafb 50%,#fff 51%,#fff);
			background: repeating-linear-gradient(-55deg,#f8fafb 0%,#f8fafb 50%,#fff 51%,#fff);
		}
	}
}