//
// Carousel
// --------------------------------------------------


// Left/right controls for nav
// ---------------------------

.carousel-control {
  text-shadow: none;
  &.left, &.right {
    background: none; 
    background-image:none;
  }

  .glyphicon-chevron-left, .icontvil-Arrow_Big_Slider_Left,
  .glyphicon-chevron-right, .icontvil-Arrow_Big_Slider_Right {
    position: absolute;
    font-style: 32px;
    top: 50%;
    z-index: 5;
    display: inline-block;
    color:rgba(142, 154, 169, .5);
  }
  .glyphicon-chevron-left, .icontvil-Arrow_Big_Slider_Left {
    left: 50%;
    margin-left: -10px;
  }
  .glyphicon-chevron-right, .icontvil-Arrow_Big_Slider_Right {
    right: 50%;
    margin-right: -10px;
  }
}


// Scale up controls for tablets and up
@media screen and (min-width: $screen-sm-min) {

  // Scale up the controls a smidge
  .carousel-control {
    .glyphicon-chevron-left, .icontvil-Arrow_Big_Slider_Left,
    .glyphicon-chevron-right, .icontvil-Arrow_Big_Slider_Right {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      font-size: 30px;
    }
    .glyphicon-chevron-left, .icontvil-Arrow_Big_Slider_Left {
      margin-left: -15px;
    }
    .glyphicon-chevron-right, .icontvil-Arrow_Big_Slider_Right {
      margin-right: -15px;
    }
  }
}

.row-main .carousel-inner {
  background-color: #566777;
}
.carousel-inner > .item > img {
  margin: 0 auto;
  // width: 100%;
}