@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,cyrillic-ext,latin);
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar {
  margin-bottom: 0;
  min-width: 1024px;
  border:none;
  width: 100%;
}
.navbar-toggle.navbar-hamburger {
  display: block;
  float: left;
  border: 0;
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 4px;
  &:hover, &:focus {
    background-color: rgba(0,0,0,0);
  }
  .icon-bar {
    background-color: #ff5d61;
    width: 20px;
    margin-top: -2px;
    & + .icon-bar {
      margin-top: 5px;
    }
  }
}
.second-line .navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-inverse.navbar-tvil-fixed-top {
  &.affix {
    overflow:hidden;
    height: 50px;
    min-height: 50px;
    .top-line {
      display: none;
    }
  }
  .navbar-brand {
    font-size: 20px;
    top: 1px;
    color:#fff;
    position: relative;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;;
  }
}
.top-line {
  height: 60px;
}
.second-line {
  background-color: #fff;
}
.navbar-right {
  margin-right: 0;
}

/*
 * Sidebar
 */
.sidebar-left, .sidebar-right {
  position: absolute;
  top: 110px;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  width: 260px;
  &.affix {
    position: fixed;
    top:50px;
  }
}
.sidebar-right {
  left:inherit;
  right:0;
  width: 290px;
  @media (max-width: 1023px) {
    left: 734px;
    right: inherit;
  }
}
.map {
  height: 100%;
  min-height:300px; 
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  & > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
  & > .active > a,
  & > .active > a:hover,
  & > .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }
}


/*
 * Main content
 */

.main {
  padding: 20px 40px;
  width: 100%;
  min-width: 474px;
  &.affix {
    position:static;
    padding-top: 130px;
  }
  .page-header {
    margin-top: 0;
  }
}

.container-wrapper {
  min-width: 1024px;
  padding-left: 260px;
  padding-right: 290px;
  &.container-search {
    float: left;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    .search-result {
      float: left;
      width: 768px;
      height: 100%;
    }
    .container-map {
      margin-left: 768px;
      height: 100%;
      &.affix {
        top: 0;
      }
    }
  }
}
.navbar {
  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0;
  }
}
#gag {
  background-image: url(../img/ya_map.png);
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  min-width: 1px;
}
.navbar-inverse .navbar-nav.breadcrumb-tvil {
  padding-left: 10px;
  float: left;
  & > li  {
    color:#8e9aa9;
    white-space: nowrap;
    &+li:before {
      color:#56677a;
      width: 6px;
      font-family: 'Glyphicons Halflings';
      font-size: 11px;
      content: "\e258";
      display: block;
      padding-top: 23px;
      padding-bottom: 20px;
      padding-right: 5px;
      margin-left: -2px;
      float: left;
    }
    & > a, span {
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 22px;
      padding-right: 13px;
    }
    &.active {
      span {
        color:$navbar-inverse-link-active-color;
      }
    }
  }
}