/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-inverse {
  margin-bottom: 0;
  width: 100%;
  min-width: 1024px;
  border:none;
  &.affix {
    overflow:hidden;
    height: 50px;
    .top-line {
      display: none;
    }
  }
}
.top-line {
  height: 60px;
}
.second-line {
  background-color: #fff;
}
.navbar-right {
  margin-right: 0;
}

/*
 * Sidebar
 */


.left-sidebar, .right-sidebar {
  position: absolute;
  top: 110px;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  width: 260px;
  &.affix {
    position: fixed;
    top:50px;
  }
}
.right-sidebar {
  left:inherit;
  right:0;
  width: 290px;
  @media (max-width: 1023px) {
    left: 734px;
    right: inherit;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  & > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
  & > .active > a,
  & > .active > a:hover,
  & > .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }
}


/*
 * Main content
 */

.main {
  padding: 20px 40px;
  width: 100%;
  min-width: 474px;
  &.affix {
    position:static;
    padding-top: 130px;
  }
  .page-header {
    margin-top: 0;
  }
}

.container-wrapper {
  min-width: 1024px;
  padding-left: 260px;
  padding-right: 290px;
}
.navbar {
  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0;
  }
}