@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic,cyrillic-ext,latin);

a:focus,
button:focus,
.btn:focus,
.btn:active {outline:none;}
::-moz-focus-inner {border:0;}


// ul {
//   list-style-type: disc;
//   list-style-position: inside;
// }

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar {
  margin-bottom: 0;
  min-width: 1024px;
  border:none;
  width: 100%;
  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0;
  }
}
.navbar-toggle.navbar-hamburger {
  display: block;
  float: left;
  border: 0;
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 4px;
  &:hover, &:focus {
    background-color: rgba(0,0,0,0);
  }
  .icon-bar {
    background-color: #ff5d61;
    width: 20px;
    margin-top: -2px;
    & + .icon-bar {
      margin-top: 5px;
    }
  }
}

.navbar-inverse.navbar-tvil-fixed-top {
  position: absolute;
  top:0;
  &.affix {
    position: fixed;
    overflow:hidden;
    height: 51px;
    min-height: 51px;
    .top-line {
      display: none;
    }
  }
  .top-line {
    height: 60px;
    padding-right: 0;
  }
  .navbar-brand {
    font-size: 20px;
    top: 1px;
    color:#fff;
    position: relative;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;;
  }
  .navbar-right {
    margin-right: 0;
    &.nav > li > a {
      padding-left: 22px;
      padding-right: 22px;
      cursor: pointer;
      position: relative;
      .badge {
        position: absolute;
      }
      &.dropdown-toggle {
        position: relative;
        padding-left: 60px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 2px;
          position: absolute;
          top: 10px;
          left: 10px;
        }
      }
    }
  }
}
.table-editable {
  margin-top: 17px;
  &.table-bordered > thead > tr {
    & > td, th {
      border-bottom-width: 1px;
    }
  }
  &.table > thead > tr {
    & > th, td {
      padding:15px 12px 14px 20px;
    }
  }
  &.table > tbody > tr {
    & > th, td {
      padding:15px 12px 14px 20px;
      &:focus {
        outline:none;
      }
    }
  }
  thead {
    th, td {
      background-color: #f4f7fa;
    }
  }
  tbody {
    th, td {
      background-color: #fff;
      color:#566777;
    }
    td.empty {
      color:#b0b8c3;
    }
    tr:hover {
      th, td {
        background-color: #fbfdff;
        cursor: pointer;
      }
    }
  }
}

.second-line {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  position: relative;
  .btn-link {
    padding-left: 0;
    padding-right: 0;
    color:$brand-primary;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .navbar-btn {
    margin-top: 7px;
    margin-bottom: 6px;
    &.btn-success {
      margin-top: 6px;
      margin-bottom: 7px;
    }
  }
  .navbar-left {
    width: 245px;
    &.navbar-left2 {
      width: auto;
    }
    .descr {
      display: inline-block;
      color:#566777;
      span {
        color:#b0b8c3;
      }
    }
  }
  .navbar-right {
    position: absolute;
    top:0;
    right:21px;
    text-align: right;
    width: 268px;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(13%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

  }
}
.navbar-center {
  white-space: nowrap;
  float: left;
  padding-left: 40px;
  p {
    padding-left: 22px;
    color:$brand-primary;
    display: inline-block;
    text-overflow: ellipsis;
  }
}

abbr[title]{
  color:$brand-primary;
  margin-top: 7px;
  margin-bottom: 7px;
  display: inline-block;
  margin-left: 12px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
  background-color: #f9fbfd;
}
.btn {
  padding: 7px 20px;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.btn-default {
  background-color: #fff;
  border-color: #d3dee5;
  &:hover, &:focus {
    color:#566777;
    background-color: #fff;
    border-color:#e5ecf3;
  }
}
.btn-success {
  background-color: #28bd8b;
  border-color: #28bd8b;
  &:hover, &:focus {
    background-color: #1da779;
    border-color:#1da779;
  }
}
.btn-gray {
  background-color: #464a54;
  border-color: #464a54;
  color:#fff;
  .icontvil {
    color:#a3a5aa;
  }
  &:hover, &:focus {
    background-color: #3f424b;
    border-color: #3f424b;
    color:#fff;
    .icontvil {
      color:#a3a5aa;
    }
  }
}
.btn-danger {
  background-color: #ff5d61;
  border-color: #ff5d61;
  &:hover, &:focus { 
    background-color: #e54f53;
    border-color: #e54f53;
  }
}
.btn-darkgray {
  background-color: #ced8e2;
  border-color: #ced8e2;
  color:#fff;
  &:hover, &:focus {
    color:#fff;
  }
}
.btn-success.disabled {
  background-color: rgba(40, 189, 139, 0.2);
  border-color: rgba(0,0,0,0);
  opacity:1;
}
.btn .glyphicon {
  margin-right: 7px;
}
.icon-red {
  color:#ff5d61;
}
.glyphicon-green {
  color:#28bd8b;
}
.dropdown-menu {
  border:none;
  border-radius: 1px;
  padding:0;
  & > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    &:hover, &:focus {
      background-color: #f4f7f9;
      color:#566777;
    }
  }
}
.badge {
  font-size: 9px;
  padding-left: 5px;
  padding-right: 5px;
  top:14px;
  right: 11px;
}
.navbar-left2 {
  .btn {
    margin-right: 10px;
  }
  .btn-darkgray {
    padding-left: 13px;
    padding-right: 13px;
    .icontvil {
      font-size: 10px;
      top: 0px;
    }
  }
}
.navbar-login {
  .btn {
    margin-right: 10px;
    padding-left: 13px;
  }
}

/*
 * Sidebar
 */
.sidebar-left, .sidebar-right {
  position: absolute;
  top: 111px;
  left: 0;
  z-index: 999;
  display: block;
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  width: 260px;
  &.affix {
    position: fixed;
    top:51px;
  }
}
.sidebar-left {
  background-color: #282c37;
  overflow: hidden;
  padding: 0;
  .nav-sidebar {
    a {
      padding-left: 60px;
      font-size: 15px;
      padding-top: 25px;
      padding-bottom: 25px;
      line-height: 20px;
      transition: background-color 0.5s ease;
      &:hover, &:focus {
        background-color: #313541;
        color:#8e9aa9;
      }
    }
  }
  .icontvil,.glyphicon {
    margin-right: 15px;
    position: absolute;
    font-size: 1.5em;
    line-height: 70px;
    height: 70px;
    left:20px;
    top: 0;
  }
  .label {
    position: absolute;
    left:215px;
    top: 0;
    padding-right: 22px;
    margin-top: -7px;
    top:50%;
    .icontvil, .glyphicon {

      height: 15px;
      line-height: 15px;
      font-size: 15px;
      position: static;
      margin-right: 0;
      &:focus {
        outline: 0;
      }
    }
  }
  &.sidebar-light {
    width: 230px;
    top: 60px;
    background-color: #fff;
    padding-top: 19px;
    //border-right:1px solid #dbdee0;
    .nav-sidebar {
      a {
        &:hover, &:focus {
          background-color: #fff;
          color: #152438;
          border-left:2px solid #c6ccd4;
          padding-left: 58px;

          .icontvil, .glyphicon {
            left: 18px;
          }
        }
      }
      li.active {
        a {
          border-left:2px solid #c6ccd4;
          background-color: #fff;
          padding-left: 58px;
          .icontvil, .glyphicon {
            left: 18px;
          }
        }
      }
    }
  }
}
.label {
  .icontvil, .glyphicon {
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    color:#8e9aa9;
    opacity: .2;
    &.icontvil-green {
      color:#28bd8b;
    }
    &.icontvil-red {
      color:#ff5d61;
    }
    &:hover {
      opacity:1;
    }
  }
}
.icontvil-red {
  color:#ff5d61;
}
.icontvil-green {
  color:#28bd8b;
}
.sidebar-right {
  padding: 0;
  left:inherit;
  right:0;
  bottom: 0;
  width: 290px;
  background-color: #fff;
  @media (max-width: 1023px) {
    left: 734px;
    right: inherit;
  }
  .thumbnail {
    width: 214px;
    margin: 12px auto 15px;
    padding: 0;
    border:2px solid #8e9aa9;
    border-radius: 3px;
    &:hover {
      text-decoration: none;
    }
    h4 {
      font-size: 14px;
      margin-top: 9px;
    }
    small {
      display:block;
      width: 10px;
      height: 10px;
      background-color: #28bd8b;
      float: right;
      margin-top: 3px;
      border-radius: 50%;
    }
    .caption {
      padding-left: 20px;
      padding-right: 16px;
    }
    &.thumbnail-empty {
      border-style: dashed;
      border-color:#e9eef2;
      border-radius: 4px;
      .glyphicon {
        font-size: 22px;
        width: 20px;
        display:block;
        margin: 73px auto 0;
      }
      p {
        text-align: center;
        padding-top: 19px;
        padding-bottom: 62px;
      }
    }
  }
  &.sidebar-right-obj {
    width: 400px;
    top: 60px;
    bottom:auto;
    @media (max-width: 1199px) {
      width: 340px;
    }
  }
}
.sidebar-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  width: 281px;
  padding: 0 25px 0 20px;
  position: relative;
  top: 0;
  left: 0;
}
.map {
  height: 100%;
  min-height:300px;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-left: -20px;
  & > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
  & > .active > a,
  & > .active > a:hover,
  & > .active > a:focus {
    color: #152438;
    background-color: #f4f7fa;
  }
}


/*
 * Main content
 */

.main {
  padding: 111px 0 0 0;
  width: 100%;
  min-width: 474px;
  min-height: 950px;
  background-color: #f4f7fa;
  border-right: 1px solid #e2e7ec;
  &.affix {
    position:static;
    padding-top: 110px;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  hr {
    margin-left: -40px;
    margin-right: -40px;
    border-top-color: #e2e7ec;
    margin-top: 40px;
  }
  &.obj {
    padding-top: 60px;
    min-width: 394px;
    border-left: 1px solid #dbdee0;
  }
}
.row.row-main {
  padding: 16px 40px 40px;
  .btn-success {
    padding-left: 28px;
    padding-right: 28px;
  }
  .checkbox {
    margin-top: 12px;
    margin-bottom: 0px;
    &:nth-child(2) {
      margin-top: 35px;
    }
  }
  form .col-sm-4 {
    .form-group {
      padding-right: 17px;
      position: relative;
    }
  }
  .checkbox.mt33 {
    margin-top: 33px;
  }
}
.form-group {
  margin-bottom: 24px;
  .col-sm-6, .col-sm-4 {
    padding-right: 17px;
  }
  .required {
    position: absolute;
    bottom: 4px;
    right: 0;
    font-size: 14px;
    color:#a1abb2;
    font-weight: bold;
  }
  label {
    white-space: nowrap;
  }
}
.page-header {
  margin-top: 0;
  padding: 19px 39px;
  font-size: 26px;
}

.flat {
    float: right;
    margin: -2px 0 0 10px;
    border:none;
    background-color: #ccc;
    width: 50px;
    height: 20px;
    border-radius: 2px;
    box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
    cursor: pointer;
    position: relative;
    transition: background-color 1s; 
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 18px;
      background-color: #fdfdfd;
      margin: 1px;
      border-radius: 2px;
      box-shadow: 0 1px 2px rgba(0,0,0,.2);
      
      background: rgb(255,255,255);
      background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
      background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
      background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
      background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
      background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );

      transition: .5s all;
    }
    &:focus {
      outline:none;
    }
    &:checked {
      background-color: #28bd8b;
    }
}
.activity {
  cursor:pointer;
  float: right;
  font-size: 14px;
  color:#56677a;
  font-weight: normal;
  padding-top: 6px;
  width: 150px;
  text-align: right;
  .check-custom {
    @extend .flat;
  }
  input[type='checkbox']:checked + .check-custom {
    background-color: #28bd8b;
    &:after {
      left: 24px;
    }
  }
}
input.flat[type='checkbox'] {
  /* @extend .flat;
  display:block;
  -webkit-appearance: button;
  &:checked:after {
    left: 24px;
  } */
  display: none;
}
.container-wrapper {
  min-width: 1024px;
  padding-left: 260px;
  padding-right: 290px;
  &.container-search {
    float: left;
    width: 100%;
    padding: 60px 0 0 0;
    .search-result {
      float: left;
      width: 768px;
      height: 100%;
    }
    .container-map {
      position: relative;
      margin-left: 768px;
      height: 100%;
      &.affix {
        position: fixed;
        top: 0;
      }
    }
  }
  &.container-wrapper-obj {
    padding-left: 230px;
    padding-right: 400px;
    @media (max-width: 1199px) {
      padding-right: 340px;
    }
  }
}

.search-result {
  .icontvil {
    color:#7f94ac; 
  }
  .btn {
    border-radius: 3px;
  }
  .btn-default {
    &.selected {
      background-color: #eaeff4;
      border-color:#eaeff4;
    }
    &:hover, &:focus {
      background-color: #f4f7f9;
    }
  }
}
#gag {
  background-image: url(../img/ya_map.png);
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  min-width: 1px;
}
.navbar-inverse .navbar-nav.breadcrumb-tvil {
  padding-left: 10px;
  float: left;
  & > li  {
    color:$brand-primary;
    white-space: nowrap;
    &+li:before {
      color:#56677a;
      width: 6px;
      font-family: 'Glyphicons Halflings';
      font-size: 11px;
      content: "\e258";
      display: block;
      padding-top: 23px;
      padding-bottom: 20px;
      padding-right: 5px;
      margin-left: -2px;
      float: left;
    }
    & > a, span {
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 22px;
      padding-right: 13px;
      overflow: hidden;
      text-overflow:ellipsis;
      @media (max-width: 1100px) {
        max-width: 150px;
      }
      &:hover, &:focus {
        background-color: transparent;
      }
    }
    & > span {
      padding-right: 0;
    }
    &.active {
      span {
        color:$navbar-inverse-link-active-color;
      }
    }
  }
}
.icon-lt {
  top:10px !important;
  left:10px;
}
.icon-rt {
  top:10px !important;
  right:10px;
}
.icon-lb {
  bottom:10px;
  left:10px;
  top:inherit !important;
}
.icon-rb {
  bottom:10px;
  right:10px;
  top:inherit !important;
}
.thumbnail.thumbnail-photo {
  padding: 0;
  position: relative;
  &:after {
    content:' ';
    position:absolute;
    width:100%;
    cursor: default;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.3);
    opacity:0;
    transition: all 1s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  .icontvil {
    cursor:pointer;
    position: absolute;
    display: none;
    color:#fff;
    height: 16px;
    z-index: 1011;
  }
  &:hover, &:focus {
    &:after {
      opacity:1;
    }
    .icontvil {
      display: block;
    }
  }
}

/*
 * Popover
 */
.popover {
  border:none;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.popover-content {
  color: #566777;
  font-size: 13px;
}

abbr.btn-link[title] {
  text-decoration: none;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 13px;
}
.container-search {
  .container-fluid {
    padding-left: 19px;
    padding-right: 19px;
  }
  .form {
    padding-top: 13px;
    .form-group {
      margin-bottom: 0;
    }
  }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-color:#e5ecf3;
  &::-webkit-input-placeholder {
    color: #56677a;
  }
  &:-moz-input-placeholder {
    color: #56677a;
  }
  &::-moz-input-placeholder {
    color: #56677a;
  }
  &:-ms-input-placeholder {
    color: #56677a;
  }
  
}
.search-kind-room {
  .btn {
    text-align: left;
  }
  .col-mt {
    margin-top: 10px;
  }
}
.search-hr {
  margin-top: 25px;
  margin-bottom: 25px;
}
.search-hr-slim {
  margin-top: 12px;
  margin-bottom: 12px;
}
.search-results {
  padding-top: 20px;
  margin-top: 0;
  margin-left: -19px;
  margin-right: -19px;
  padding-left: 4px;
  padding-right: 4px;
  hr {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.search-thumbs {
  margin-left: -18px;
  height: 229px;
  overflow: hidden;
  a {
    margin-bottom: 5px;
    display:block;
  }

  &.search-thumbs-sm {
    margin-left: -11px;
    height: 172px;
  }
}


.search-offer {
  strong {
    font-size: 22px;
    font-weight: bold;
    color:#152438;
    margin-left: 5px;
    margin-right: 3px;
    .glyphicon {
      font-size: 17px;
    }
  }
  p {
    margin: 12px 0 16px -16px;
    font-size: 16px;
    color: #566777;
    line-height: 25px;
  }
  .btn {
    margin: 23px 0 0 -11px;
    padding: 9px 33px;
    font-size: 14px;
  }
}
select + .form-control-feedback {
  left: 0;
}
.has-feedback select.form-control {
  padding-left: 0;
  padding-right: 0;
  margin-left: 30px;
  width: 67px;
}
.search-filter {
  width: 763px;
  height: 61px;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 12px;
  border-top:1px solid #eaeef0;
  margin-top: 12px;
  padding-bottom: 12px;
  -webkit-box-shadow: 0px 6px 6px -3px #f4f4f4;
  -moz-box-shadow: 0px 6px 6px -3px #f4f4f4;
  box-shadow: 0px 6px 6px -3px #f4f4f4;
  position: relative;
  &.affix {
    z-index: 1010;
    top: -12px;
    background-color: #fff;
    position: fixed;
  }
  .btn {
    padding-right: 16px;
    padding-left: 13px;
    margin-right: 8px;
    position: relative;
    i.icontvil {
      right: -7px;
      color:#ced8e2;
    }
    &.btn-link {
      padding-left: 0;
      margin-left: 0;
    }
  }
  .search-all-filter {
    position: absolute;
    top: 0;
    right: 10px;
    -webkit-box-shadow: -6px 0px 12px 6px #fff;
    -moz-box-shadow: -6px 0px 12px 6px #fff;
    box-shadow: -6px 0px 12px 6px #fff;
  }
}
.search-filter.affix + .search-results {
  padding-top: 88px;
} 
.search-label {
  line-height: 36px;
  margin-bottom: 0;
}
.search-calendar-input {
  width: 112px;
  input {
    margin-top: 1px;
  }
}
.search-photo {
  display: inline-block;
  overflow: hidden;
  width: 357px;
  height: 229px;
  text-overflow:ellipsis;
  img {
    width: 100%;
    height: 100%;
  }
  h3 {
    display:inline-block;
    white-space: nowrap;
    position: absolute;
    top:-1px;
    overflow: hidden;
    width: 340px;
    left: 29px;
    text-overflow:ellipsis;
    margin-top: 20px;
    color:#fff;
    font-size: 18px;
    font-weight: 600;
    z-index: 1010;
  }
  p {
    display:inline-block;
    white-space: nowrap;
    text-overflow:ellipsis;
    position: absolute;
    top:34px;
    overflow: hidden;
    width: 340px;
    left: 30px;
    text-overflow:ellipsis;
    margin-top: 10px;
    font-size: 14px;
    color:#fff;
    z-index: 1010;
  }
  .icontvil {
    color:#fff;
    z-index: 1010;
  }
  .favorite {
    position: absolute;
    left:30px;
    bottom:15px;
  }
  &:after {
    content:' ';
    position:absolute;
    width:357px;
    cursor: default;
    height:229px;
    top:0;
    left:15px;
    opacity:1;
    transition: all 1s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: inset 0px 130px 130px -65px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0px 130px 130px -65px rgba(0,0,0,.4);
    box-shadow: inset 0px 130px 130px -65px rgba(0,0,0,.4);
  }
  &:hover, &:focus {
    &:after {
      background-color: rgba(81, 110, 142, 0.7);
    }
  }
  &.search-photo-sm {
    width: 268px;
    height: 172px;
    h3 {
      width: 260px;
    }
    &:after {
      height: 172px;
      width: 268px;
    }
  }
}
.col-offset-fix {
  margin-left: -5px;
}
.search-result {
  h2 {
    margin-top: 34px;
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: 600;
  }
  .btn {
    margin-right: 8px;
  }
  .btn-group .btn {
    margin-right: 0;
  }
}
.search-similar {
  .btn-block {
    margin-top: 15px;
  }
}
.nav-pagination {
  margin-top: 16px;
  margin-left: -19px;
  margin-right: -19px;
  background-color: #f4f7fa;
  padding-left: 19px;
  border-top:1px solid #e9eef2;
  border-bottom:1px solid #e9eef2;
  height: 72px;
  .pagination > li {
    & > a, & > span {
      padding: 5px 11px;
      font-size: 13px;
      font-weight: bold;
      border-radius: 2px;
      margin-right: 9px;
      -webkit-transition: background-color, border-color 0.5s ease;
      -moz-transition: background-color, border-color 0.5s ease;
      -o-transition: background-color, border-color 0.5s ease;
      transition: background-color, border-color 0.5s ease;
    }
    & > a {
      &.selected, &:hover, &:focus {
        background-color: #8e9aa9;
        border-color:#8e9aa9;
        color:#fff;
      }
    }
    .glyphicon {
      top: 2px;
    }
    .glyphicon-menu-right {
      padding-left: 7px;
    }
    .glyphicon-menu-left {
      padding-right: 7px;
    }
  }
}
.popular {
  margin-top: 28px;
  h2 {
    width: 100%;
    margin-bottom: 8px;
  }
  ul {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
  li {
    line-height: 27px;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.widget {
  margin-bottom: 15px;
}
.footer {
  background-color: #ecf1f4;
  margin-left: -19px;
  margin-right: -19px;
  padding-left: 4px;
  padding-right: 4px;
  h2 {
    color:#3b4754;
    margin-top: 40px;
    margin-bottom: 0;
  }
  p {
    color:#6f8297;
    margin-top: 11px;
    margin-bottom: 25px;
    a {
      padding-top: 6px;
      padding-bottom: 14px;
      display: inline-block;
    }
  }
  li {
    line-height: 27px;
    margin-bottom: 3px;
    a {
      text-decoration: underline;
      color:#a1b1c5;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .glyphicon, .icontvil {
    margin-right: 7px;
  }
  ul {
    margin-top: 7px;
  }
}
.prize {
  margin-top: 40px;
  margin-bottom: 28px;
  p {
    color:#56677a;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-left: 48px;
    position: relative;
  }
  .icontvil {
    font-size: 30px;
    position: absolute;
    top:0;
    left:0px;
    color:#a1b1c5;
  }
} 
.copyright {
  height: 67px;
  background-color: #424f5e;
  margin-left: -19px;
  margin-right: -19px;
  padding-left: 4px;
  padding-right: 4px;
  p {
    line-height: 67px;
    height: 67px;
    margin-bottom: 0;
    color:#a1b1c5;
  }
}
.search-amount-rooms {
  .search-label {
    line-height: 20px;
  }
}
.search-comfort {
  margin-bottom: -15px;
  .btn{
    margin-bottom: 15px;
    &:nth-child(4n+4){
      margin-right: 0;
    }
  }
}
.search-show-all {
  margin-top: 49px;
  .col-w100 {
    margin-left: -19px;
    margin-right: -19px;
  }
  .btn {
    width: 768px;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 0;
  }
}
.search-price {
  .slider {
    width: 600px;
    margin-bottom: 18px;
    margin-top: 15px;
    .popover {
      border:none;
      box-shadow: none;
      margin-top: 0;
      background-color:rgba(0,0,0,0);
      .arrow {
        display: none;
      }
      .popover-content {
        white-space: nowrap;
        padding-top: 0;
        padding-bottom: 5px;
        position: relative;
        font-size: 14px;
        color:#566777;
      }
    }
  }
}
.search-line {
  position: absolute;
  top:14px;
  left:20px;
  right:20px;
  .form-control {
    color:#56677a;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  }
  .glyphicon {
    color:#353c44;
    opacity:.5;
  }

  @media (max-width: 1024px) {
    display: none;
  }
}
.search-maptab {

  position: absolute;
  left:0;
  right:0;
  bottom:0;
  .btn-group-justified {
    border-collapse: collapse;
  }
  @media (max-width: 1100px) {
    display: none;
  }
  .btn-darkgray {
    background-color:rgba(86, 103, 122, 0.6);
    color:#fff;
    padding-top: 9px;
    padding-bottom: 9px;
    border-top:none;
    border-bottom:none;
    border-color:#5d6f88;
    &:focus, &:hover, &.selected {
      background-color: #56677a;
    }
  }
}
.search-pin {
  position: absolute;
  top:50%;
  left:50%;
  cursor: pointer;
  &#two-example {
    left:30%;
    top:70%;
  }
  .icontvil {
    color:#7f94ac;
    font-size: 45px;
  }
  &.selected {
    .icontvil {
      color:#ff5d61;
    }
  }
}
.search-pins {
  .popover {
    padding: 0;
  }
  .arrow {
    display: none;
  }
  .popover-content {
    padding: 0;
    .thumbnail {
      border:none;
      width: 250px;
      padding: 0;
      margin: 0;
    }
  }
  .caption {
    padding-top: 0;
    padding-bottom: 0;
  }
  h3, .h3 {
    margin-top: 10px;
    margin-bottom: 2px;
    color:#152438;
    font-size: 14px;
    white-space: nowrap;
    font-weight: normal;
    width: 239px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
  }
}
.search-mapmodal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(66, 79, 94, 0.9);
}
.arr-top,
.arr-down,
.txt-top,
.txt-down {
  position: absolute;
  left: 43px;
  background-repeat: no-repeat;
  background-position: top left;
}
.arr-top,
.arr-down {
  display: block;
  width: 87px;
  height: 69px;
  background-image: url(../img/arrow-quatr.png);
  -webkit-animation-duration: 1s; 
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-duration: 1s; 
  -moz-animation-delay: 2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotate_back {
  0%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.arr-top {
  top:60px;
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
}
.arr-down {
  background-position: bottom left;
  bottom:60px;
  -webkit-animation-name: rotate_back;
  -moz-animation-name: rotate_back;
}
.txt-top,
.txt-down {
  width: 260px;
  height: 37px;
  background-image: url(../img/wt.png);
}
.txt-top {
  top:130px;
  background-position: bottom left;
}
.txt-down {
  bottom: 130px;
  background-position: top left;
}

.main.obj {
  .container-fluid {
    border-top:1px solid #dbdee0;
  }
  .media-left {
    text-align: center;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 62px;
    a {
      display: inline-block;
    }
    span {
      padding-top: 10px;
      display: inline-block;
      color:#8e9aa9;
    }
  }
  h1 {
    font-size: 26px;
    margin-top: 34px;
  }
  h2 {
    font-size: 26px;
    font-weight: normal;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
  }
  p {
    color:#8e9aa9;
    font-size: 14px;
  }
  .row-main {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    .carousel {
      margin: 0 -15px 11px;
      .item.active {
        // overflow-y:auto;
        max-height: 500px;

        @media (max-width: 1199px){
          max-height: 350px;
        }
        @media (min-width: 1200px){
          max-height: 400px;
        }
        @media (min-width: 1281px){
          max-height: 450px;
        } 
        @media (min-width: 1440px){
          max-height: 500px;
        }
        @media (min-width: 1600px){
          max-height: 600px;
        } 
      }
    }
  }
  .dl-horizontal {
    margin-top: 28px;
    border-bottom:1px solid #dbdee0;
    margin-bottom: 0;
    padding-bottom: 21px;
    dt {
      text-align: left;
      padding-left: 28px;
      width: 245px;
      @media (max-width: 1200px){
        width: 180px;
      }
    }
    dd {
      margin-left: 245px;
      padding-right: 45px;
      @media (max-width: 1200px){
        margin-left: 180px;
        padding-right: 25px;
      }
      p {
        line-height: 21px;
      }
      a {
        color:#152438;
        text-decoration: none;
        border-bottom: 1px dashed #152438;
        &:hover {
          border-bottom-color:rgba(0,0,0,0);
        }
      }
    }
  }
  .column-2 {
    li {
      line-height: 24px;
      margin-bottom: 8px;
    }
    .glyphicon {
      margin-top: 0;
      padding-top: 0;
      margin-right: 22px;
      font-size: 24px;
      color:#8e9aa9;
    }
    .txt {
      line-height: 24px;
      padding: 0;
      margin: 0;
      top: -5px;
      display:inline-block;
      position: relative;
    }
  }
}
.main .hr-obj {
  margin-top: 22px;
  padding-top: 0;
  margin-bottom: 0;
}
.column-2 {
  -webkit-column:2;
  -moz-column:2;
  column:2;
  li {
    width: 50%;
    display:inline-block;
    vertical-align: text-top;
  }
  @media (max-width: 1200px){

    -webkit-column:1;
    -moz-column:1;
    column:1;
    li {
      width: 100%;
    }
  }
}

.col-left {
  padding-left: 74px;
  .has-feedback select.form-control {
    width: 107px;
    @media (max-width: 1199px){
      width: 77px;
    }
  }
}
.col-right {
  padding-right: 74px;
  .has-feedback select.form-control {
    width: 105px;
    @media (max-width: 1199px){
      width: 77px;
    }
    margin-left: 0px;
    margin-right: 30px;
  }
  i.icontvil.form-control-feedback {
    left:auto;
    right:0;
    &.icontvil-Children {
      right: -10px;
    }
  }
}
.price-start {
  padding-top: 18px;
  padding-bottom: 22px;
  h2 {
    font-size: 22px;
    font-weight: bold;
    color:#8e9aa9;
    margin-bottom: 31px;
  }
  span,.icontvil {
    color:#8e9aa9;
    opacity:.5;
  }
  .icontvil {
    margin-right: 7px; 
  }
}
.calculate {
  margin-top: 13px;
  padding-left: 74px;
  padding-right: 74px;
  .btn {
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 3px;
  }
}
.sidebar-info {
  padding: 200px 30px 0;

  @media (max-width: 1199px) {
    padding:150px 20px;
  }
  p {
    padding: 0 20px;
    color:#8e9aa9;
    margin-bottom: 0;
  }
  strong {
    font-size: 26px;
    font-weight: normal;
  }
  .btn {
    font-size: 14px;
    font-weight: 500;
    color:#566777;
    padding-left: 16px;
    padding-right: 12px;
    &:first-child {
      margin-right:5px;
    }
    &:last-child {
      margin-left:5px;
    }
  }
  .icontvil {
    margin-right: 7px;
    color:#8e9aa9;
    margin-left: -3px;
  }
}
.col-share {
  padding-top: 51px;
  @media (max-width: 1199px) {
    padding-left: 0;
    padding-right: 0;
  }
  .btn {
    padding-left: 10px;
    padding-right: 8px;
  }
}
.carousel-preview {
  position: absolute;
  bottom:20px;
  width: 100%;
  ul {
    padding-left: 20px;
  }
  img {
    width: 63px;
    height: 40px;
  }
  a {
    border:1px solid #c5c7c6;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    &:hover, &.active {
      border:2px solid #fff;
      img {
        width: 61px;
        height: 38px;
      }
    }
  }
  li {
    display: inline-block;
  }
}
.list-dotted {
  list-style: none;
  padding-left: 0;
  li {
    padding-left: 10px;
    position: relative;
    &:before {
      display:block;
      content:' ';
      width: 2px;
      height: 2px;
      border-radius: 2px;
      background-color: darkgray;
      position: absolute;
      top:10px;
      left:0;
    }
  }
}
.h2-obj {
  padding-left: 13px;
}
.row-gray {
  background-color: #f4f7f9;
}
.row-white {
  background-color: #fff;
}