@font-face {
	font-family: 'icotvil';
	src:url('../fonts/icontvil.eot?-wtk7bp');
	src:url('../fonts/icontvil.eot?#iefix-wtk7bp') format('embedded-opentype'),
		url('../fonts/icontvil.woff?-wtk7bp') format('woff'),
		url('../fonts/icontvil.ttf?-wtk7bp') format('truetype'),
		url('../fonts/icontvil.svg?-wtk7bp#icotvil') format('svg');
	font-weight: normal;
	font-style: normal;
}

i.icontvil {
	font-family: 'icotvil';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 16px;
	display:inline-block;
	top: 2px;
	position: relative;
	&.form-control-feedback { 
		position: absolute;
		top:0;
		display: block;
		line-height: 33px;
	}

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icontvil-margin-right {
  margin-right: 10px;
}

.icontvil-Qw:before {
	content: "\e62d";
}

.icontvil-Star_Full:before {
	content: "\e600";
}

.icontvil-Star_Empty:before {
	content: "\e601";
}

.icontvil-Delet_Photo:before {
	content: "\e602";
}

.icontvil-Rotate_Right:before {
	content: "\e603";
}

.icontvil-Rotate_Left:before {
	content: "\e604";
}

.icontvil-Date_Out:before {
	content: "\e605";
}


.icontvil-Date_Inn:before {
	content: "\e62e";
}

.icontvil-Empty_Hurt:before {
	content: "\e606";
}

.icontvil-X:before {
	content: "\e607";
}

.icontvil-x:before {
	content: "\e608";
}

.icontvil-Wallet:before {
	content: "\e609";
}

.icontvil-User:before {
	content: "\e60a";
}

.icontvil-Table:before {
	content: "\e60b";
}

.icontvil-Settings:before {
	content: "\e60c";
}

.icontvil-Pointer:before {
	content: "\e60d";
}

.icontvil-Pin:before {
	content: "\e60e";
}

.icontvil-Photo:before {
	content: "\e60f";
}

.icontvil-Mini_Pin:before {
	content: "\e610";
}

.icontvil-Message:before {
	content: "\e611";
}

.icontvil-Message_Menu:before {
	content: "\e612";
}

.icontvil-Male:before {
	content: "\e613";
}

.icontvil-Login:before {
	content: "\e614";
}

.icontvil-List:before {
	content: "\e615";
}

.icontvil-Hurt:before {
	content: "\e616";
}

.icontvil-House:before {
	content: "\e617";
}

.icontvil-Hotel:before {
	content: "\e618";
}

.icontvil-Home:before {
	content: "\e619";
}

.icontvil-Go_Out:before {
	content: "\e61a";
}

.icontvil-Gift:before {
	content: "\e61b";
}

.icontvil-Flat:before {
	content: "\e61c";
}

.icontvil-Female:before {
	content: "\e61d";
}

.icontvil-Eye:before {
	content: "\e61e";
}

.icontvil-Download:before {
	content: "\e61f";
}

.icontvil-Dinner:before {
	content: "\e620";
}

.icontvil-Children:before {
	content: "\e622";
}

.icontvil-Check:before {
	content: "\e623";
}

.icontvil-Camping:before {
	content: "\e624";
}

.icontvil-Calendar:before {
	content: "\e625";
}

.icontvil-Bubl:before {
	content: "\e626";
}

.icontvil-Arrow_Long:before {
	content: "\e627";
}

.icontvil-Arrow_Down:before {
	content: "\e621";
}

.icontvil-Arrow_Up:before {
	content: "\e628";
}

.icontvil-Arrow_circle:before {
	content: "\e629";
}

.icontvil-Options:before {
	content: "\e62a";
}

.icontvil-Bad:before {
	content: "\e62b";
}

.icontvil-Exclamation:before {
	content: "\e62c";
}