@import "/icontvil/style.css";

.icontvil {
	font-size: 16px;
	display:inline-block;
	top: 2px;
	position: relative;
	&.form-control-feedback { 
		position: absolute;
		top:0;
		display: block;
		line-height: 33px;
	}
}

.icontvil-margin-right {
  margin-right: 10px;
}