@font-face {
	font-family: 'icontvil';
	src:url('fonts/icontvil.eot?huxeeh');
	src:url('fonts/icontvil.eot?#iefixhuxeeh') format('embedded-opentype'),
		url('fonts/icontvil.woff?huxeeh') format('woff'),
		url('fonts/icontvil.ttf?huxeeh') format('truetype'),
		url('fonts/icontvil.svg?huxeeh#icontvil') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icontvil {
	font-family: 'icontvil';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icontvil-Ok:before {
	content: "\e641";
}

.icontvil-Forbes:before {
	content: "\e642";
}

.icontvil-Fb:before {
	content: "\e643";
}

.icontvil-Vk:before {
	content: "\e644";
}

.icontvil-Time:before {
	content: "\e63c";
}

.icontvil-Hotels:before {
	content: "\e63d";
}

.icontvil-Favorites:before {
	content: "\e63e";
}

.icontvil-Private:before {
	content: "\e63f";
}

.icontvil-South_Russia:before {
	content: "\e640";
}

.icontvil-Real_Feedback:before {
	content: "\e638";
}

.icontvil-Conversation:before {
	content: "\e639";
}

.icontvil-On_The_Web:before {
	content: "\e63a";
}

.icontvil-Frame:before {
	content: "\e63b";
}

.icontvil-Child:before {
	content: "\e645";
}

.icontvil-Qiwi:before {
	content: "\e633";
}

.icontvil-Other:before {
	content: "\e634";
}

.icontvil-Credit_Card:before {
	content: "\e635";
}

.icontvil-Terminal:before {
	content: "\e636";
}

.icontvil-Edit:before {
	content: "\e637";
}

.icontvil-Ruble:before {
	content: "\e62f";
}

.icontvil-Arrow_Big_Slider_Right:before {
	content: "\e630";
}

.icontvil-Arrow_Big_Slider_Left:before {
	content: "\e631";
}

.icontvil-Pin_Map:before {
	content: "\e632";
}

.icontvil-Qw:before {
	content: "\e62d";
}

.icontvil-Star_Full:before {
	content: "\e600";
}

.icontvil-Star_Empty:before {
	content: "\e601";
}

.icontvil-Delete_Photo:before {
	content: "\e602";
}

.icontvil-Rotate_Right:before {
	content: "\e603";
}

.icontvil-Rotate_Left:before {
	content: "\e604";
}

.icontvil-Date_Out:before {
	content: "\e605";
}

.icontvil-Empty_Heart:before {
	content: "\e606";
}

.icontvil-Bigx:before {
	content: "\e607";
}

.icontvil-x:before {
	content: "\e608";
}

.icontvil-Wallet:before {
	content: "\e609";
}

.icontvil-User:before {
	content: "\e60a";
}

.icontvil-Table:before {
	content: "\e60b";
}

.icontvil-Settings:before {
	content: "\e60c";
}

.icontvil-Pointer:before {
	content: "\e60d";
}

.icontvil-Pin:before {
	content: "\e60e";
}

.icontvil-Photo:before {
	content: "\e60f";
}

.icontvil-Mini_Pin:before {
	content: "\e610";
}

.icontvil-Message:before {
	content: "\e611";
}

.icontvil-Message_Menu:before {
	content: "\e612";
}

.icontvil-Male:before {
	content: "\e613";
}

.icontvil-Login:before {
	content: "\e614";
}

.icontvil-List:before {
	content: "\e615";
}

.icontvil-Heart:before {
	content: "\e616";
}

.icontvil-House:before {
	content: "\e617";
}

.icontvil-Hotel:before {
	content: "\e618";
}

.icontvil-Home:before {
	content: "\e619";
}

.icontvil-Go_Out:before {
	content: "\e61a";
}

.icontvil-Gift:before {
	content: "\e61b";
}

.icontvil-Flat:before {
	content: "\e61c";
}

.icontvil-Female:before {
	content: "\e61d";
}

.icontvil-Eye:before {
	content: "\e61e";
}

.icontvil-Download:before {
	content: "\e61f";
}

.icontvil-Dinner:before {
	content: "\e620";
}

.icontvil-Date_In:before {
	content: "\e62e";
}

.icontvil-Children:before {
	content: "\e622";
}

.icontvil-Check:before {
	content: "\e623";
}

.icontvil-Camping:before {
	content: "\e624";
}

.icontvil-Calendar:before {
	content: "\e625";
}

.icontvil-Bubble:before {
	content: "\e626";
}

.icontvil-Arrow_Long:before {
	content: "\e627";
}

.icontvil-Arrow_Down:before {
	content: "\e621";
}

.icontvil-Arrow_Up:before {
	content: "\e628";
}

.icontvil-Arrow_circle:before {
	content: "\e629";
}

.icontvil-Options:before {
	content: "\e62a";
}

.icontvil-Bed:before {
	content: "\e62b";
}

.icontvil-Exclamation:before {
	content: "\e62c";
}

