doctype html
html
  head
    == Slim::Template.new("head.slim").render
  body
    .container-wrapper.container-search
      .search-result
        .container-fluid
          .row.form.search-params
            .col-sm-2
              p.search-label Даты
            .col-sm-2
              .form-group.has-feedback.search-calendar-input
                input.form-control type="text" placeholder="Заезд"
                i.icontvil.icontvil-Date_Out.form-control-feedback
            .col-sm-2
              .form-group.has-feedback.search-calendar-input
                input.form-control type="text" placeholder="Отъезд"
                i.icontvil.icontvil-Date_Inn.form-control-feedback
            .col-sm-2
              .form-group.has-feedback
                select.form-control
                  option 0
                  option 1
                i.icontvil.icontvil-Male.form-control-feedback
            .col-sm-2
              .form-group.has-feedback
                select.form-control
                  option 0
                  option 1
                i.icontvil.icontvil-Female.form-control-feedback
            .col-sm-2
              .form-group.has-feedback
                select.form-control
                  option 0
                  option 1
                i.icontvil.icontvil-Children.form-control-feedback
          hr.search-hr
          .row.search-kind-room
            .col-sm-2
              p.search-label Тип жилья:
            .col-sm-10
              .row
                .col-sm-4
                  .btn.btn-block.btn-default
                    i.icontvil.icontvil-Hotel.icontvil-margin-right
                    | Отель
                .col-sm-4
                  .btn.btn-block.btn-default
                    i.icontvil.icontvil-Home.icontvil-margin-right
                    | Дом целиком
                .col-sm-4
                  .btn.btn-block.btn-default
                    i.icontvil.icontvil-Camping.icontvil-margin-right
                    | База отдыха
            .col-sm-offset-2.col-sm-10.col-mt
              .row
                .col-sm-4
                  .btn.btn-block.btn-default.selected
                    i.icontvil.icontvil-Flat.icontvil-margin-right
                    | Квартира
                .col-sm-4
                  .btn.btn-block.btn-default
                    i.icontvil.icontvil-Flat.icontvil-margin-right
                    | Комната
                .col-sm-4
                  .btn.btn-block.btn-default
                    i.icontvil.icontvil-Bad.icontvil-margin-right
                    | Койка-место
          .row.search-filter data-spy="affix" data-offset-top="225"
            .col-sm-12
              .btn.btn-default.selected
                | от 1000 и до 3000
                i.icontvil.icontvil-x
              .btn.btn-default.selected
                | Сауна
                i.icontvil.icontvil-x
              .btn.btn-default.selected
                | Удобства в номере
                i.icontvil.icontvil-x
              .btn.btn-link + еще 2 фильтра
              .btn.btn-default.search-all-filter Все фильтры
          .row.search-results
            .col-sm-12
              .row
                .col-sm-8
                  .row
                    .col-sm-9
                      a.search-photo href="#"
                        img src="http://lorempixel.com/357/229/nature"
                        h3 Гостиница — Пансионат на ул. Гоголя 345
                        p
                          i.icontvil.icontvil-Mini_Pin.icontvil-margin-right
                          | Ялта, ул. Московская, Крым
                    .col-sm-3.search-thumbs
                      a href="#"
                        img src="http://lorempixel.com/111/73/nature"
                      a href="#"
                        img src="http://lorempixel.com/111/73/nature"
                      a href="#"
                        img src="http://lorempixel.com/111/73/nature"

                .col-sm-4.text-center.search-offer
                  p
                    | от
                    strong
                      | 1500
                      span.glyphicon.glyphicon-ruble
                    | за сутки
                  p
                    | Отдельная комната 
                    br
                    | 3 спальных места
                    br
                    | 4 отзыва
                  .btn.btn-danger.btn-lg Подробнее
              hr
              .row
                .col-sm-8
                  .row
                    .col-sm-9
                      a.search-photo href="#"
                        img src="http://lorempixel.com/357/229/nature"
                        h3 Гостиница — Пансионат на ул. Гоголя 
                        p
                          i.icontvil.icontvil-Mini_Pin.icontvil-margin-right
                          | Ялта, ул. Московская, Крым
                        span.favorite
                          i.icontvil.icontvil-Empty_Hurt
                    .col-sm-3.search-thumbs
                      a href="#"
                        img src="http://lorempixel.com/111/73/nature"
                      a href="#"
                        img src="http://lorempixel.com/111/73/nature"
                      a href="#"
                        img src="http://lorempixel.com/111/73/nature"

                .col-sm-4.text-center.search-offer
                  p
                    | от
                    strong
                      | 1500
                      span.glyphicon.glyphicon-ruble
                    | за сутки
                  p
                    | Отдельная комната 
                    br
                    | 3 спальных места
                    br
                    | 4 отзыва
                  .btn.btn-danger.btn-lg Подробнее
              hr
              .row
                .col-sm-8
                  .row
                    .col-sm-9
                      a.search-photo href="#"
                        img src="http://lorempixel.com/357/229/nature"
                        h3 Гостиница — Пансионат на ул. Гоголя 
                        p
                          i.icontvil.icontvil-Mini_Pin.icontvil-margin-right
                          | Ялта, ул. Московская, Крым
                        span.favorite
                          i.icontvil.icontvil-Hurt
                    .col-sm-3.search-thumbs
                      a href="#"
                        img src="http://lorempixel.com/111/73/nature"
                      a href="#"
                        img src="http://lorempixel.com/111/73/nature"
                      a href="#"
                        img src="http://lorempixel.com/111/73/nature"

                .col-sm-4.text-center.search-offer
                  p
                    | от
                    strong
                      | 1500
                      span.glyphicon.glyphicon-ruble
                    | за сутки
                  p
                    | Отдельная комната 
                    br
                    | 3 спальных места
                    br
                    | 4 отзыва
                  .btn.btn-success.btn-lg Подробнее
              
              nav.nav-pagination
                ul.pagination
                  li
                    a href="#"
                      span.glyphicon
                      | Предыдущая
                  li
                    a.selected href="#" 1
                  li
                    a href="#" 2
                  li
                    a href="#" 3
                  li
                    a href="#" 4
                  li
                    a href="#" 5
                  li
                    a href="#" 6
                  li
                    a href="#" 7
                  li
                    a href="#"
                      | Следующая
                      span.glyphicon.glyphicon-menu-right
          .row.search-similar
            .col-sm-12
              h2 Похожие объявления (129)
              .row
                .col-sm-6
                  .row
                    .col-sm-9
                      a.search-photo.search-photo-sm href="#"
                        img src="http://lorempixel.com/268/172/nature"
                        h3 Гостиница — Пансионат на ул. Гоголя 345
                        p
                          i.icontvil.icontvil-Mini_Pin.icontvil-margin-right
                          | Ялта, ул. Московская, Крым
                    .col-sm-3.search-thumbs.search-thumbs-sm
                      a href="#"
                        img src="http://lorempixel.com/82/54/nature"
                      a href="#"
                        img src="http://lorempixel.com/82/54/nature"
                      a href="#"
                        img src="http://lorempixel.com/82/54/nature"
                .col-sm-6.col-offset-fix
                  .row
                    .col-sm-9
                      a.search-photo.search-photo-sm href="#"
                        img src="http://lorempixel.com/268/172/nature"
                        h3 Гостиница — Пансионат на ул. Гоголя 345
                        p
                          i.icontvil.icontvil-Mini_Pin.icontvil-margin-right
                          | Ялта, ул. Московская, Крым
                    .col-sm-3.search-thumbs.search-thumbs-sm
                      a href="#"
                        img src="http://lorempixel.com/82/54/nature"
                      a href="#"
                        img src="http://lorempixel.com/82/54/nature"
                      a href="#"
                        img src="http://lorempixel.com/82/54/nature"
              .btn.btn-default.btn-block Показать еще
          .row.popular
            .col-sm-12
              h2 Популярные города
              ul.list-unstyled
                li
                  a href="" Гостиницы Екатеринбурга
                li
                  a href="" Гостиницы Казани
                li
                  a href="" Гостиницы Лазаревского
                li
                  a href="" Гостиницы Екатеринбурга
                li
                  a href="" Гостиницы Ялты
                li
                  a href="" Гостиницы Адлера
                li
                  a href="" Гостиницы Витязево
                li
                  a href="" Гостиницы Екатеринбурга
                li
                  a href="" Гостиницы Казани
                li
                  a href="" Гостиницы Адлера
                li
                  a href="" Гостиницы Лазаревского
                li
                  a href="" Гостиницы Екатеринбурга
                li
                  a href="" Гостиницы Ялты
                li
                  a href="" Гостиницы Адлера
                li
                  a href="" Гостиницы Витязево

              h2 Города рядом
              ul.list-unstyled
                li
                  a href="" Екатеринбург
                li
                  a href="" Казань
                li
                  a href="" Лазаревское
                li
                  a href="" Екатеринбург
                li
                  a href="" Ялта
                li
                  a href="" Адлер
                li
                  a href="" Витязев
                li
                  a href="" Екатеринбург
                li
                  a href="" Казани
                li
                  a href="" Адлера
                li
                  a href="" Лазаревского
                li
                  a href="" Екатеринбурга
                li
                  a href="" Ялты
                li
                  a href="" Адлера
                li
                  a href="" Витязево
              
              h2 Популярные места в городе
              ul.list-unstyled
                li
                  a href="" Гостиницы Екатеринбурга
                li
                  a href="" Гостиницы Казани
                li
                  a href="" Гостиницы Лазаревского
                li
                  a href="" Гостиницы Екатеринбурга
                li
                  a href="" Гостиницы Ялты
                li
                  a href="" Гостиницы Адлера
                li
                  a href="" Гостиницы Витязево
                li
                  a href="" Гостиницы Екатеринбурга
                li
                  a href="" Гостиницы Казани
                li
                  a href="" Гостиницы Адлера
                li
                  a href="" Гостиницы Лазаревского
                li
                  a href="" Гостиницы Екатеринбурга
                li
                  a href="" Гостиницы Ялты
                li
                  a href="" Гостиницы Адлера
                li
                  a href="" Гостиницы Витязево
          .row.widgets
            .col-sm-12
              h2.text-uppercase Популярные места в городе
              .widget
                img src="../img/vk.png"
              .widget
                img src="../img/ok.png"
          .row.footer
            .col-sm-12
              .row
                .col-sm-4
                  h2.text-uppercase TVIL.RU
                  p Бронирование гостиниц и квартир
                  p
                    | Напишите нам:
                    br
                    a href="#"
                      i.icontvil.icontvil-Message
                      | admin@tvil.ru
                    br
                    | Хотите работать у нас?
                    br
                    a href="#"
                      span.glyphicon.glyphicon-briefcase
                      | admin@tvil.ru
                .col-sm-4
                  h2.text-uppercase Разделы
                  ul.list-unstyled
                    li
                      a href="#" О ТВИЛ.ру в прессе
                    li
                      a href="#" Отзывы пользователей
                    li
                      a href="#" Контакты
                    li
                      a href="#" Помощь
                    li
                      a href="#" Договор оферты
                    li
                      a href="#" Гостиницы и квартиры
                    li
                      a href="#" Жилье для отдыха 2015
                .col-sm-4
                  h2.text-uppercase Наши группы:
                  ul.list-unstyled
                    li
                      a.text-uppercase href="#" FORBES
                    li
                      a.text-uppercase href="#" FACEBOOK
                    li
                      a.text-uppercase href="#" ВКОНТАКТЕ
                    li
                      a.text-uppercase href="#" ОДНОКЛАССНИКИ
              .row
                .col-sm-4
                  p Член Российского союза индустрии
                .col-sm-4
                  p TVIL вошел в 10 Forbes
                .col-sm-4
                  p Читать о сайте
          .row.copyright
            .col-sm-12
              p &copy; TVIL.ru - бронирование гостиниц и квартир посуточно. Работает с 25.08.2008 года.
      .container-map data-spy="affix" data-offset-top="60"
        #js-map.map
          #gag

    nav.navbar.navbar-inverse.navbar-tvil-fixed-top
      == Slim::Template.new("nav_top.slim").render

    script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"
    script src="js/bootstrap.min.js"
    script src="js/main.js"
    javascript:
      //ymaps.ready(init);
      //var TvilMap;
      //function init(){
      //TvilMap = new ymaps.Map("js-map",{center:[55.76,37.64],zoom:12});
      //}